<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>File Tail</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" th:href="@{/img/favicon.ico}" type="images/x-ico" href="../static/img/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-4.6.0.min.css}" href="../static/css/bootstrap-4.6.0.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons-1.4.1.css}" href="../static/css/bootstrap-icons-1.4.1.css">
    <link rel="stylesheet" th:href="@{/css/tail.css}" href="../static/css/tail.css">
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.slim.min.js}"
            src="../static/js/jquery-3.5.1.slim.min.js"></script>
    <script type="text/javascript" th:src="@{/js/popper-1.16.1.min.js}"
            src="../static/js/popper-1.16.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-4.6.0.bundle.min.js}"
            src="../static/js/bootstrap-4.6.0.bundle.min.js"></script>
</head>
<body>
<div class="jumbotron jumbotron-fluid" id="main">
    <h4 class="display-5">[[${target}]]<span style="color: red; margin-left: 1rem"
                                             th:if="${error} != null">[[${error}]]</span></h4>
    <pre id="content" class="pre-content" th:if="${error} == null">
    </pre>
</div>
<script th:inline="javascript">
    var contextPath = [[${ contextPath }]];
    var target = [[${ target }]];
    var error = [[${ error }]];
    var initContent = "";
    [# th:each="line : ${initLines}"]
       initContent += [[${line}]] + "\n";
    [/]
    if (initContent) {
        document.getElementById("content").innerHTML = initContent;
    }
    var mainElement = document.getElementById("main");
    if (!error) {
        var source = new EventSource(contextPath + "/tail-sse?target=" + target);
        source.onmessage = function (event) {
            var scrollBottom = mainElement.scrollHeight - mainElement.scrollTop === mainElement.clientHeight;
            document.getElementById("content").innerHTML += event.data + "\n";
            if (scrollBottom) {
                mainElement.scrollTop = mainElement.scrollHeight - mainElement.clientHeight;
            }
        };
    }
</script>
</body>
</html>